.grid-container {
  display: grid;
  grid-template-areas: 'myArea myArea myArea myArea myArea myArea'
  'left left right right right right'
  'bottom bottom bottom bottom bottom bottom';
  grid-gap: 10px;
  background-color: #93b5b3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  background-color: #c8dad3;
}

.nav-top {
  grid-area: myArea;
}

.nav { 
  grid-area: left;
}

.main { 
  grid-area: right;
}

.footer {
  grid-area: bottom;
}

.footer p {
  text-align: center;
}

.main-section1 {
  margin-top: 20px;
}

#navbar {
  list-style-type: none;
  margin-top: 20px;
  padding: 0px;
  width: 500px;
  background-color: #f1f1f1;
  border: 1px solid #555;
  font-size: 20px;
}

#navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#navbar li {
  text-align: center;
  border-bottom: 2px solid #555;
}

#navbar li:last-child {
  border-bottom:  none;
}

#navbar li a:hover {
  background-color: #555;
  color: white;
}

p {
  font-size: 15px;
  text-align: left;
  margin: 10px;
}

li {
  text-align: left;
  margin: 10px;
  font-size: 15px;
}

code {
  margin: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  font-family: monospace;
}

pre {
  text-align: left;
}

pre h3 {
  text-align: center;
}

